<nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-4" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SpringBoot App</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/personas" routerLinkActive="active">Listado
                    de Personas</a>
                <a class="nav-link active" aria-current="page" routerLink="/inactivas" routerLinkActive="active">Listado
                    de Personas Inactivas</a>
            </div>
        </div>
        <button class="btn btn-danger" (click)="logOut()">Salir</button>
    </div>
    
</nav>